$body-bg: #e5e5e5;
$primary: #3ba5dc;
$secondary: #aaaaaa;
$success: #00f867;
$info: #600b6b;
$warning: #fbcf33;
$danger: #ea0606;
$light: #ffffff;
$grey: #d9d9d9;

$c1: #cff09e;
$c2: #a8dba8;
$c3: #79bd9a;
$c4: #3b8686;
$c5: #0B486B;
$dark: #2c2c2f;

$font-sans-serif: Open Sans;
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
  'Courier New', monospace;
$gradient: linear-gradient(
  180deg,
  hsla(0, 0%, 100%, 0.15),
  hsla(0, 0%, 100%, 0)
);

$colors: (
  'primary': $primary,
  'secondary': $secondary,
  'danger': $danger,
  'success': $success,
  'warning': $warning,
  'info': $info,
  'dark': $dark,
  'grey': $grey,
  'c1': $c1,
  'c2': $c2,
  'c3': $c3,
  'c4': $c4,
  'c5': $c5,
);

$color-ranges: (
  0: 0,
  5: 5,
  10: 10,
  15: 15,
  20: 20,
  25: 25,
  30: 30,
  35: 35,
  40: 40,
);
